DB_URL=jdbc:postgresql://aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres?user=postgres.upyxecprxofdkdtylwuq&password=Bageeralovesme
DB_USERNAME=postgres.upyxecprxofdkdtylwuq
DB_PASSWORD=Bageeralovesme
